[2014-06-11 02:24] gagan-bansal opened #1 "Polygon boolean function"
Hi, does this library cover all polygon boolean functions (union, intersection, difference and XOR) ?

[2014-08-11 20:44] hnakamur opened #2 "intersectBezier2Bezier3 cannot find all intersections for some case"
First of all, thanks for a great software!

I found that intersectBezier2Bezier3 cannot find all intersections for some case.
I added two test cases, one passes and another fails.
https://github.com/hnakamur/kld-intersections/commit/5070de0a1005a63db0ebe1c3bf33bbd24305ef77

You can try the demo at http://bl.ocks.org/hnakamur/73af30f05fced219a33f
Please check intersections which are printed with co

[2014-08-27 14:03] gontard opened #3 "intersectBezier2Ellipse when the bezier is nearly a line"
I found an issue when the bezier 2 is close to a line:

[code]

The found intersections are:

[code]

These are not points of the ellipse.

Any ideas ?

[2014-08-28 15:31] #1 closed, assigned to nobody

[2015-01-11 05:34] Quazistax commented on #2
Try increasing bisection accuracy parameter in Polynomial.js

`Polynomial.ACCURACY = 15`

https://github.com/Quazistax/kld-polynomial/commit/e13cc9aba4f487812e243551f1b534213199c74a
It worked for that case in your demo. Let me know if you stumble upon some other problem.

[2015-01-11 07:11] Quazistax commented on #3
As much as I tested, problem disappears when using Jenkins-Troub polynomial root finding.

https://github.com/Quazistax/kld-polynomial/tree/rpoly-root-finding

Let me know if you encounter other problems.

[2015-01-11 09:35] hnakamur commented on #2
Hi, thanks for your modification.
I tried my demo with `Polynomial.ACCURACY = 15`.
However I had a missing intersection near p1-p2 on the cubic bezier curve.
![missing_intersection_on_p1-p2](https://cloud.githubusercontent.com/assets/19299/5694843/e3aa88a4-99bf-11e4-8701-650c97faec07.png)

When I moved p4 on the cubic bezier curve, the left intersection was found or not found.
p4: 143/200 intersec

[2015-01-11 16:33] Quazistax commented on #2
Your demo at http://bl.ocks.org/hnakamur/raw/73af30f05fced219a33f/ still uses `ACCURACY = 6`. With that setting, for some combination of parameters (points), calculation error gets too big and result does not register as intersection.

 I agree that even with `ACCURACY = 15` there could be some rare (although more rare) cases where same problem occurs. If you encounter one, let me know. That kind

[2015-01-11 17:20] hnakamur commented on #2
Thanks for pointing me out for not updating my demo.
Now I updated my demo at http://bl.ocks.org/hnakamur/raw/73af30f05fced219a33f/ with Polynomial.ACCURACY = 15

And yes, now my demo shows all intersections!

Actually I had implemented an example by approximating curves using lines.
demo: http://bl.ocks.org/hnakamur/7dfb57d5f299255cf59a
source: https://github.com/hnakamur/d3.js-drag-bezier-curves

[2015-01-11 17:20] #2 closed

[2015-01-11 18:08] thelonious commented on #2
@Quazistax: Thanks for this change. @hnakamur: @Quazistax's change has been merged into kld-polynomial and the latest kld-intersections module includes that change.

[2015-01-11 18:14] thelonious commented on #3
@Quazistax: this is encouraging! I thought these issues might have been occurring in the calculation of the bézout

[2015-01-11 21:45] thelonious commented on #3
That's encouraging

[2015-02-10 17:42] Quazistax commented on #3
I'm working on a page (currently at [www.quazistax.com](http://www.quazistax.com)) for purpose of testing some javascript libraries related to SVG. It's not much, but you can see the difference when changing some parameters and algorithms.

I implemented modified newton's method for quartic polynomial (development not complete). It looks as good as rpoly for now (in terms of accuracy, probably not

[2015-03-15 06:58] Quazistax commented on #3
I'm using combination of newton/secant/bisection now for quartic polynomial root finding. I also made some other changes. It is possible to intersect rotated/scaled/skewed shapes now. There are a few examples on my page.

Code changed quite a lot as i was having fun with it, should I create pull request with all that changes? Maybe if you create new development branch I could create pull request t

[2015-03-15 15:28] thelonious commented on #3
@quazistax, I'm traveling and won't be able to look at this until tomorrow. I'll setup a development branch as soon as I can and I'll comment here once once that has been pushed.

[2015-03-17 03:50] thelonious commented on #3
@Quazistax: development branches have been created here and in kld-polynomial. Those are now the defaults (on github) in each repo as well

[2015-10-23 10:43] tobireif opened #6 "Automatic creation of shapes from SVG elements"
Hi Kevin :)

Automatic creation of shapes from SVG elements - is that a possibility?

Instead of

[code]

we could then write

[code]

(That would probably implicitly cause the ~same action as the current version - the lib would create/update its representation of the shape.)

Tobi

[2015-10-23 16:36] thelonious commented on #6
Hey Tobi,

Yes, that should be entirely possible. When I wrote this library, it was my intention to decouple the implementation from SVG, so I purposely didn't implement what you suggest. I never got around to it, but I was thinking another module could be created specifically for SVG. It would use an interface like you're suggesting, but it would ultimately include this module, calling it with th

[2015-10-26 09:03] tobireif commented on #6
Sounds great! I think it would be useful, eg for collision detection of complex SVG shapes.

Feel free to close the ticket for now, or you could leave it open for later - up to you :)

[2015-10-26 18:21] Quazistax commented on #6
You can use this script http://www.quazistax.com/Scripts/SvgDom.intersectShapes.js

[2015-10-29 10:06] tobireif commented on #6
Awesome!

Perhaps you want to put it on GitHub.com ?

[2017-01-10 17:04] geohuz opened #7 "find all intersections of a path crossing a group of polygons"
Is it possible to find all intersections of a path (with many segments) which crosses several polygons, the order of the result intersections will be consistent of the path data array? Thanks!

[2017-01-12 02:57] #6 closed

[2017-01-12 03:03] thelonious commented on #7
You should be able to find intersections on path segment types, except for maybe arcs. You'll either need to use the DOM to access individual segments in your path, testing each against the polygons, or you can use something like my event-driven path parser to extract the path segments:

- [SVGPathSeg](https://www.w3.org/TR/SVG/paths.html#DOMInterfaces)
- [Path Parser](https://github.com/theloniou

[2017-01-12 05:14] geohuz opened #8 "Uncaught TypeError: yPoly.zeroErrorEstimate is not a function(…)"
I've searched whole lib code and could't find the function.

[2017-01-12 05:55] thelonious commented on #8
Try removing kld-intersections and pulling it again. I pushed an updated kld-polynomial which should resolve that issue for you.

[2017-01-12 05:55] #8 closed

[2017-01-12 05:55] #7 closed

[2017-01-12 05:56] #3 closed

[2017-02-02 19:42] arichiardi opened #9 "Intersection: this.init is not a function"
Thank you for this wonderful libray!

I am trying to use the library but I get this error:

[code]

It looks like `this` is `window` here and `init` of course is not there.
I checked and this happens on http://www.quazistax.com/testIntersection.html as well.

Do you have any hint for me on how to solve?

EDIT: I am using the release version `0.1.1`.

[2017-02-02 21:02] Quazistax commented on #9
Which browser are you using? I encountered other type of problem in Chrome, but that is solved now by adding pathseg.js polyfill to page. I was not able to recreate your type of problem.

[2017-02-02 21:16] arichiardi commented on #9
Yes I am using Chrome `Version 55.0.2883.87 (64-bit)`, did you try `Intersection("tets")` in the console?

[2017-02-02 21:20] Quazistax commented on #9
try like this
`test = new Intersection("test")`

[2017-02-02 21:44] arichiardi commented on #9
Ops Sorry for some reason I was thinking that would work but of course it cannot. Closing!

[2017-02-02 21:44] #9 closed

[2017-02-02 21:53] Quazistax commented on #9
No problem :)

[2017-04-12 22:20] yukulele opened #10 "self intersection"
how to dectect a collision of sharpe on itself (path or polygon) ?

[2017-04-13 23:17] thelonious commented on #10
Hi yukulele,

There currently isn't support for detecting self-intersecting shape intersections. You could brute force this with polygons by testing each segment against all the other segments. LIkewise, you could do the same with path segments. Note, however, that this will not be very efficient, but may be acceptable performance-wise for small numbers of segments.

[2017-07-14 14:12] marcospassos opened #11 "Intersection with rotated rectangle"
First of all, thanks for sharing this amazing library!

Is there support for computing the intersection with a rotated rectangle?

[2017-07-15 16:18] thelonious commented on #11
There isn't direct support for rotated rectangles, but with a little work, you can get what you need. You need to do something like the following:

- Convert the corners of the unrotated rectangle to a polygon
- Rotate each point in the polygon
- Use any of the intersect*Polygon functions

I can provide an example, if you need it.

Looking at the master branch, I'm only exposing Point2D, but you a

[2017-07-15 16:18] thelonious opened #12 "Expose Vector2D and Matrix2D from kld-affine"
Currently, master exposes only Point2D

[2017-07-16 17:07] marcospassos commented on #11
@thelonious thanks for your quick reply, however, I think I need further assistance.

To give you a context, I would like to compute the intersection between a line and a diamond. I can get a diamond by flipping a square by 45deg, this is why I asked about how to compute the intersection using a rotated shape. Perhaps there is an easier way to accomplish it. If it is a good option, I believe that

[2017-07-18 18:59] thelonious commented on #12
These have been exposed on the development branch

[2017-07-18 18:59] #12 closed

[2017-07-18 19:20] thelonious commented on #11
I've added [an example](https://github.com/thelonious/kld-intersections/blob/development/examples/rotate-rectangle-line.js) to the development branch.

FWIW, the development branch exposes Matrix2D now. I have not updated the module on npm yet, however.

[2017-07-19 03:06] thelonious opened #13 "Bring in SVG Path Element support"
This may be buried deep in the 2D library on KevLinDev. Regardless, it looks like I missed porting this over, so I should pull this code in.

[2017-07-19 18:40] thelonious commented on #11
FYI, I pushed kld-intersections@0.2.0 which exposes Matrix2D

[2017-07-20 01:19] thelonious commented on #10
closing due to inactivity

[2017-07-20 01:19] #10 closed

[2017-07-23 19:04] thelonious opened #14 "Write unit tests"
This will need to include visual tests as well

[2017-07-24 15:05] marcospassos commented on #11
Nice job, @thelonious! Thank you very much again!

[2017-07-24 15:05] #11 closed

[2017-07-26 17:30] marcospassos opened #15 "The latest version is broken"
I'm getting the following error using the latest version:

[code]

This is the related code:
[code]

It's probably happening because `IntersectionArgs` has no property named `params`.

[2017-07-26 17:49] marcospassos opened #16 "[Feature request] Check if a point is inside a shape"
It would be nice to have a method that checks if a 2DPoint is inside or outside the boundaries of a given shape.

[2017-07-26 18:39] thelonious commented on #15
Thanks @marcospassos! I thought I had pushed that fix already. Regardless, v0.3.1 is up with those fixes in it. Obviously, I need unit tests, which is one of the main reasons this library isn't at 1.0 :)

[2017-07-26 18:43] thelonious commented on #16
This is implemented in some of the intersection routines. However, my current thinking is to pull this functionality out into a separate IntersectionQuery class. The current intersection code could be streamlined a bit (and made a little faster as a result) if I remove this kind of logic. Likewise, these types of queries often involve simpler math than calculating intersections.

Out of curiosity,

[2017-07-26 19:02] marcospassos commented on #16
For now, we're using a suboptimal solution that involves creating a line with as a point `Shapes.line(x-0.5, y-0.5, x, y)`  (once 0.5 is less than one pixel, no collateral effects here). However, a more robust solution would be very appreciated :).

As the shape is configurable, we're not looking for a form in particular.

Please, let me know if decide to pull out such feature.

[2017-07-26 19:06] marcospassos commented on #15
Thanks, @thelonious.

BTW, do you have any plans of adding unit tests to the library anytime soon? Our intention is to use this amazing library in the production environment, so some tests are fundamental.

[2017-07-27 00:09] thelonious commented on #16
Are you looking for something like [this](https://github.com/thelonious/kld-intersections/blob/development/lib/IntersectionQuery.js)? Please note that these have not been tested in any way, but it should give you an idea of what I'm thinking.

[2017-07-27 00:15] thelonious commented on #15
I want to get a first round done soon, but I can't given a ETA on that. If you're concerned about stability, then you might want to look at @Quazistax's [fork](https://github.com/Quazistax/kld-intersections). I know he spent a good amount of time troubleshooting problem cases. I'm in the process of incorporating his work, but, again, at this time I can't say when that will be complete.

[2017-07-27 00:17] thelonious commented on #13
Support for processing path segments has been added. We treat each segment as individual IntersectionArgs instances.

In order to build the path segments, something like kld-path-parser can be helpful as seen in this [example](https://github.com/thelonious/kld-intersections/blob/development/examples/path-line.js)

[2017-07-27 00:17] #13 closed

[2017-07-27 00:18] marcospassos commented on #16
Yeah, but I would like to suggest an API more close to the `Intersection`:

[code]

What do you think?

[2017-07-27 00:22] thelonious commented on #16
Agreed, something like that would be nicer. My thinking is that I would approach this like `Intersection` where you could call the low-level API directly (which is what I'm using in my example) and then there would be a convenience method that figures out what method to invoke for you. The low-level methods use kld-affine types only. The convenience function would use types like you're showing in

[2017-07-27 00:24] marcospassos commented on #15
@thelonious good to know! We'll keep using your this original version.

About the tests, I'll try to help you with the job providing tests according to our use case.

[2017-07-27 00:28] marcospassos commented on #16
Perfect! It definitely gets the job done. Looking forward to testing it on our app.

Btw, as this new class is completely isolated, it looks like a good point to start with unit tests :)

[2017-08-10 05:41] Shkyrockett opened #17 "No Intersections for intersectBezier3Bezier3 Edge Case"
Hi, while porting your code to c# and writing test cases, I ran across this weird little edge case to Intersection.intersectBezier3Bezier3 that I thought you might be interested in.

Here is the geometry in svg form:
[code]

Here are the current results:

![nointersection](https://user-images.githubusercontent.com/16521931/29155806-195f23be-7d53-11e7-9f34-9f509b00fea4.png)

[2017-08-10 22:27] thelonious commented on #17
Thanks for this. I was able to recreate the issue with the latest code here. If this is a show stopper for you, then you may want to consider the approach used in [this example](https://github.com/thelonious/kld-intersections/blob/development/examples/tessellate-cubic-beziers.js).

[2017-09-14 17:29] marcospassos commented on #16
@thelonious, any plans to release the `InteserctionQuery`?

[2017-09-14 17:36] marcospassos opened #18 "Intersection inside rectangle reports no intersection"
When a point is inside a circle, the resulting status is "Inside". However, when a shape is inside a rectangle the resulting status is "No Intersection".

[2017-09-30 19:00] thelonious commented on #18
Hi @marcospassos,

Yeah, that functionality is really a remnant of when this code was first written for kevlindev.com. I would show status live as the user manipulated items in the UI. When I moved this code over to github, I wanted those examples to use the same code and be broken. Really, I should remove the whole concept of "status" from the intersection algorithms and move those to queries.

A

[2017-09-30 19:02] thelonious commented on #16
I started a new full-time job this month which has limited my time considerably. Is it useful to you in its current form? There's not much there.

[2017-11-13 12:51] Grepsy commented on #16
It would be very useful to me, even in it's current form. I'm mainly looking for the `pointInPolygon` functionality. Would it be possible to release the current `IntersectionQuery` stuff?

[2017-11-21 01:00] thelonious commented on #16
Thanks @Grepsy. I went ahead and pushed v0.4.0. I incremented the minor revision since this is an API change, but really all this does is expose `IntersectionQuery`. I've also added the start of a new section on that class in the README

[2017-11-21 01:00] #16 closed

[2017-11-21 01:01] #15 closed

[2017-11-21 01:06] thelonious opened #20 "Add convenience layer for IntersectionQuery"
Right now, you can use the intersection API 3 ways:

1. Direct call to intersection method passing in essentially scalar values
1. Via the Shapes API which still uses scalar values, but it creates intermediate objects for each support shape. These are then used by a single method in the intersection API to determine which low-level method to call
1. Via the Affine Shapes API which is just like the

[2017-11-21 08:04] Grepsy commented on #16
Great, thanks a lot!

[2017-11-29 05:08] thelonious commented on #17
@Shkyrockett I was able to hunt down the issue that was causing this to fail. I've pushed a 0.4.1 release to npm. I'm going to go ahead and close this. Please re-open if you're still seeing issues. Thanks!

[2017-11-29 05:08] #17 closed

[2017-11-30 06:15] Shkyrockett commented on #17
@thelonious Nice work!

[2017-12-15 14:58] Krzysztof-FF opened #21 "Usage of Vector instead of Vector2D in IntersectionQuery.js"
Maybe I'm missing something, but shouldn't the line #24 in kld-intersections/lib/IntersectionQuery.js
`    var v = Vector.fromPoints(center, point);`
read
`    var v = Vector2D.fromPoints(center, point);`
??

[2017-12-15 17:55] thelonious commented on #21
Thanks @Krzysztof-FF! I've pushed that change to development. I'm not sure when I'll push a next release.

[2017-12-15 17:55] #21 closed

[2017-12-20 09:57] adel-tahir opened #22 "Use library in pure javascript"
How can I use this library in the client-side pure javascript?

Is there any distributed version?

[2017-12-20 17:17] thelonious commented on #22
@adel-tahir You should be able to use a tool like [webpack](https://webpack.js.org/) or [browserify ](http://browserify.org/) to package this module and all dependencies for use in the browser. Is that what you are looking for?

[2017-12-21 01:42] adel-tahir commented on #22
@thelonious Thanks!

[2017-12-21 01:42] #22 closed

[2018-02-07 14:32] AndreaSimeone opened #23 "Problem with intersectBezier2Polygon"
Hello thelonious,
I'm trying to obtain the intersection between quadratic bezier and a polygon but I'm stuck with this error:
![schermata 2018-02-07 alle 13 12 12](https://user-images.githubusercontent.com/17427513/35915807-945a3f74-0c08-11e8-9784-099ae6b490c7.png)
where this.intersectBezier2Polyline isn't a function.
Inspecting your code I found that intersectBezier2Polygon is amenable to interse

[2018-02-09 14:17] thelonious commented on #23
Hi @AndreaSimeone,

Thanks for the heads up! I’ll make these changes and push out a new version as soon as I can.

[2018-04-03 17:59] danmarshall opened #25 "Get Bezier T value for point"
Hi Kevin,
This is an awesome library! I don't have an issue but this is more of a question:
I know I can get the intersection points on a Bezier curve. Do you have a function to get the T values of said points?

Thanks,
Dan

[2018-04-04 01:17] thelonious commented on #25
Hi Dan,

Thanks for the kind words :)

I don't have function for what you need, but that would indeed be very handy, for example, if you wanted to split the curve at the intersection point. I do use `t` to calculate the intersection point, but that's for the second curve only and it's not exposed currently. I could change that.

Alternately, it might not be too ugly to write a function where given

[2018-04-04 01:39] thelonious commented on #23
I pushed this fix to development. I'll try to push out a new version this weekend.

[2018-04-04 01:49] danmarshall commented on #25
Great, thank you!

[2018-05-17 09:32] vigalo opened #26 "Rotated ellipse intersection with line"
Hello :

It is possible to calculate the intersections points of a line with a rotated ellipse?

If yes, how can I do it?

Thanks

[2018-05-25 00:49] thelonious commented on #26
@vigalo The current codebase doesn't support that directly. However, off of the top of my head, I think you could do something creative where you apply the ellipse's rotation to the line, find the intersection points, then rotate those points back into the original domain. I believe @Quazistax implemented something similar to this in [his fork](https://github.com/Quazistax/kld-intersections). If y

[2018-05-26 22:59] thelonious commented on #26
@vigalo I've added an example of what was describing on the development branch. The code is here:

[rotated-ellipse-line.js](https://github.com/thelonious/kld-intersections/blob/development/examples/rotated-ellipse-line.js)

And the output it creates is here:

[rotated-ellipse-line.svg](https://github.com/thelonious/kld-intersections/blob/development/examples/rotated-ellipse-line.svg)

HTH,
Kevin

[2018-05-26 22:59] #26 closed

[2018-05-27 02:44] #25 closed

[2018-05-30 08:43] FilipFilipov opened #27 "Polygons with gaps"
I need to find the intersection points between a line and a polygon with a (polygonal) hole in it. Can this library do that? How would you define such a shape?

[2018-05-30 18:23] vigalo commented on #26
Thank you, #thelonious.
That solved my problem!!

[2018-06-28 06:31] jdthorpe opened #28 "Fix Typos in examples/PathHandler.js"
`this.shapes - 1` should be replaced with `this.shapes.length - 1` [here](https://github.com/thelonious/kld-intersections/blob/development/examples/PathHandler.js#L274), [here](https://github.com/thelonious/kld-intersections/blob/development/examples/PathHandler.js#L307), [here](https://github.com/thelonious/kld-intersections/blob/development/examples/PathHandler.js#L338)
 and [here](https://githu

[2018-06-28 21:47] thelonious commented on #28
Fixed and pushed. Thanks for pointing that out. Of course, if I followed good programming practices I would at least have sanity unit tests for that :)

[2018-06-28 21:47] #28 closed

[2018-06-28 22:05] #23 closed

[2018-06-28 22:06] #27 closed

[2018-09-07 09:25] levgaas opened #29 "IntersectionQuery.pointInRectangle typo produces error"
https://github.com/thelonious/kld-intersections/blob/f1c59b3e4601b7278a281e2cae9d8441878b683e/lib/IntersectionQuery.js#L100

No such variable as **topleft**. **Left** should start with a capital letter

[2018-09-07 09:26] levgaas opened #30 "IntersectionQuery.pointInCircle: Vector2D is not imported into module"
Vector2D produces error since it's not imported and thus undefined

[2018-09-07 14:54] #29 closed

[2018-09-07 14:54] #30 closed

[2018-09-07 14:54] thelonious commented on #30
@levgaas Thanks for the heads up. One of these days, I will write unit tests :)

[2018-09-07 19:50] levgaas commented on #30
Thanks for the quick update. I know I could have make PR myself. But I was too overwhelmed with geometry and stuff =)

Thanks for the lib. Also I found that path intersection doesn't work as expected. I'll try to elaborate later on

[2018-09-26 21:20] ajbogh opened #31 "Example or suggestions regarding viewBox?"
I have a polyline shape using the code below:

    <symbol viewBox="0 0 88 72" id="poly">
        <path d="M 0 36 18 0 70 0 88 36 70 72 18 72Z"></path>
    </symbol>

The symbol is defined in the <defs> section of the SVG, and used by using the <use> element.

Is there any way that the poly() function can be given the viewBox property to adjust the intersection point?

[2018-09-27 17:49] thelonious commented on #31
I'll have to refresh myself with all of the transforms involved with symbols. I do have code to convert a view box to a transformation matrix. There may be additional transformations that have to be applied. Once we have that matrix, we can apply it to the points in the path (your polygon) and then intersect from there. I hope to have something for you soon

[2018-09-27 17:54] ajbogh commented on #31
Thanks @thelonious! I look forward to seeing an example using a parent SVG with <use> statements and viewboxes. I know that it's difficult and kind of a weird use case.

As a workaround I've found that forcing my users to define a width and height on the symbol which matches the maximum width and height of the element inside the viewbox is the best option, basically making the image fill the viewb

[2018-11-05 22:44] nickasd opened #32 "Assumptions about intersection points"
Hi, thanks for this awesome utility.
In my application, I have to find which parts of a particular shape are overlapping with another shape. For example, given an "open circle" and a rectangle, I want to find out the arcs on the circle that are obscured (i.e. red in the following image). How can I determine these arcs? Can I assume that the intersection points are given in a particular order? If I

[2018-11-19 22:04] thelonious commented on #31
@ajbogh Would you by any chance have a minimal example of what you're looking for, assuming this is still something you're interested in?

[2018-11-19 22:10] thelonious commented on #32
Right now, the library only returns the intersection points themselves and, unfortunately, there is no specific order to those points. There have been other requests, for example, to get the actual parametric values where an intersection occurs on a given bézier curve. That would allow you to order from the beginning of the curve to its end (or vice versa).

As far as containment, you could test i

[2018-11-19 22:33] nickasd commented on #32
Thank you for your response. If the library could provide the parametric values of the intersection, that would probably be a solution to my problem. Are there any plans on implementing this?

[2018-11-20 01:31] thelonious commented on #32
I would sincerely like to add in that functionality, but due to time restrictions (which you've witnessed first hand with my delayed response), I can't say when that would happen, unfortunately.

[2018-11-26 19:10] ajbogh commented on #31
@thelonious I created a Github project that shows an example. I decided that a GH project would be the best method as you could run the code and modify it as you would any other project. Instructions are included in the README.md.

https://github.com/ajbogh/kld-intersections-issue-31

[2018-11-26 19:17] ajbogh commented on #18
@marcospassos Could you follow up the rectangle status of "No intersection" by drawing a circle which is the same diameter of the rectangle and testing the shape against that? If the shape says "Inside" the circle, then it's likely inside the rectangle as well. For better accuracy you could use an ellipse instead of a circle to mimic the rectangular shape, assuming ellipses give an "Inside" value

[2018-11-27 20:45] thelonious commented on #31
This is awesome! I'll have a look and see what I can figure out. Thanks!

[2018-11-27 22:06] thelonious commented on #31
I've just setup a pull request with some changes that appear to be working. Let me know if that was what you were looking for.

Thanks again!

[2018-11-28 21:55] ajbogh commented on #31
Thanks @thelonious. If I get some time I'll throw together an example with this. It might be useful to include the ViewBox.js and new PathHandler.js files in the project, but probably with options that allow backwards compatibility. I'll see what I can add to your project for this.

[2018-11-28 22:02] thelonious commented on #31
I'm sure ViewBox and the updated sample can be improved upon. Shouldn't have to change any code that uses the updated PathHandler. You don't have to pass in a Matrix2D which preserves the constructor signature. In that case, it will generate an identify matrix internally, giving you the same results as the previous version of that class.

I'd like to include ViewBox and PathHandler in some other m

[2019-04-28 07:52] brettz9 commented on #20
A `contains` method (if not `containsOrIntersects`) sounds very useful!

[2019-05-04 05:51] Shkyrockett opened #35 "Another Case of no intersections for intersectBezier3Bezier3 Edge Case"
Hi, I ran across another weird intersection edge case for intersectBezier3Bezier3 that I thought you might be interested in.

![Edge case](https://user-images.githubusercontent.com/16521931/57174495-d8e75d80-6df4-11e9-9541-36f2c762d09f.PNG)

Here are the curves:

    <path d="M150,150 C183.33333333333331,216.66666666666663 233.33333333333337,216.66666666666663 300,150"/>
    <path d="M100,200 C166

[2019-05-04 16:18] thelonious commented on #35
Thanks for the heads up! It's interesting how multiples of 1/3 cause issues.

[2019-05-04 16:31] thelonious commented on #35
Looks like I've already resolved this exact case:

When I run that example, I get the following SVG image:

![image](https://user-images.githubusercontent.com/34288/57181982-0bbe3f80-6e4f-11e9-9661-7397d1bc5862.png)

And that has these intersections:

[code]

Maybe you're running an older version of the library? I tested with 0.4.3.

[2019-05-10 19:57] #35 closed

[2019-05-10 20:03] thelonious commented on #32
@nickasd I was just looking over open issues. I haven't implemented returning parametric values, but I did create an example that can calculate those from the intersection points. If you're interested, you can find that [here](https://github.com/thelonious/kld-intersections/blob/development/scratchpad/find_parameters.js). Note that this same code should work for cubic and quadratic béziers. It als

[2019-05-10 20:04] #31 closed

[2019-05-10 20:06] thelonious commented on #14
This process has been started. There's plenty more to do, but what's there covers the spirit of this issue.

[2019-05-10 20:06] #14 closed

[2019-05-21 06:48] zowiegong opened #42 "Questions about some logs"
Hi~
I don't know what the specific effect of these two lines of code is.
But when I call it multiple times, the log is full of my screen.
Maybe I can submit PR to delete them?

https://github.com/thelonious/kld-intersections/blob/32254ef7f904472f6a8b2c21b64a4973d28c8c3e/lib/Intersection.js#L97-L98

[2019-05-21 14:13] thelonious commented on #42
Hi @zowiegong,

I just added arc support in the last release and that was some debugging code that I missed taking out. I will be pushing a new release soon (hopefully today) and I will take care of that. Looks like I need to have linting complain about those!

Thanks for the heads up and my apologies for the garbage output.

[2019-05-21 14:21] thelonious commented on #42
I've made the fix on [this commit](https://github.com/thelonious/kld-intersections/commit/9be6f85c438ab42ab5718b3711c1543a9c7006a7) in case you want to run from the development branch. Either way, I'll let you know once I've pushed a new release.

[2019-05-22 17:51] thelonious commented on #42
I just pushed v0.5.2 with that fix

[2019-05-22 17:51] #42 closed

[2019-05-23 01:37] zowiegong commented on #42
Thanks @thelonious

[2019-06-01 09:33] nickasd commented on #32
Thank you very much for the update! Just to let you know that your help is not in vane: as soon as I have some time next week, I will try to have a look at the code and see if I understand enough of it to add support for the parametric intersection values (and make a PR if everything goes well). Your help is really appreciated.

[2019-09-04 10:50] s0ber opened #43 "Is it really required to have node engine limit?"
Hello there! First of all, thanks for the amazing library.

And the question. In my company we have a pretty outdated node version used across the company (v8.16.0), and, while this library actually works under this node, yarn throws an error when trying to install it. I would like to update our node and stuff, but it's not that easy, since infrastructure is huge and it will involve a lot of tedio

[2019-09-06 17:29] thelonious commented on #43
Hi @s0ber,

I can't think of anything specifically needed from v10. I certainly understand your situation with legacy code. I'm back in this code a bit these days. I will try various node versions to see how far back we can go. The main reason this is set to v10 is that is the version I'm developing under and with which I am running tests.

[2019-09-08 10:41] s0ber commented on #43
@thelonious I think I've found a temporary solution, so we can close this one. I'll bundle the code in my repo and later, when our infrastructure will be ready, will install it back as a node module.

[2019-09-08 10:44] #43 closed

[2019-09-08 15:39] thelonious commented on #43
Thanks @s0ber. Once I get a chance to test other versions, I’ll report back. I can roll back the version to the earliest that works

[2019-09-11 06:21] MrDoo71 opened #44 "Error in the readme?"
I think this line:

const line = ShapeInfo.line([15, 75], [355, 140]);

should read:

const line = ShapeInfo.line(15, 75, 355, 140);

[2019-09-22 22:27] thelonious commented on #44
I think it is an error, but it shouldn't be. I'll leave this open to add in support for expressing points as 2-element arrays

[2019-09-23 12:02] MrDoo71 commented on #44
Thanks.

Forgot to say, excellent library, very useful.

Jase

[2019-10-22 22:50] Izhaki opened #45 "Object constructor broken with quadraticBezier"
From https://github.com/thelonious/kld-intersections/blob/development/docs/ShapeInfo.md#quadratic-bezier:

[code]

But running this:

[code]

Logs this:

[code]

[2019-10-23 16:34] thelonious commented on #45
Thanks for reporting this. I’ll take a look shortly and report back.

[2019-10-25 23:41] thelonious commented on #45
I see the issue. I'll try to get a fix out this weekend. This will effect cubic béziers using objects as well.

[2019-10-26 01:23] Izhaki commented on #45
I suspect the obvious - you are very busy.

But this repo is a life-line for me. I cannot believe it only got 143 stars. The last commit was on the 27th of May.

The issue I reported is not an issue for me. I just use a different API variant.

But this repo is hugely valuable, so it would be nice to see a bit of maintenance... Just to know someone is still there.

Thanks!

[2019-10-27 01:40] thelonious commented on #45
I've pushed a fix to development. Although I've added unit tests for quadratic and cubic béziers being constructed via objects, I'd like to add similar tests for other shapes before pushing another release. However, you can give development a try, if you'd like. Also, this updates dependencies to remove security risks as reported by npm.

Regarding the last commit, here are a few comments that I h

[2019-12-24 18:37] bob-pasabi opened #47 "Inconsistent intersection points with line and path"
I’m having an issue getting intersections to work correctly with a path and a line.  I’ve been using kld-intersections to do intersections for my custom polygon nodes and it works great.  I’ve been adding a cloud node to the DAG and wanted to get the edge arrows to line up nicely with the edges of the cloud but I can’t seem to get reliable intersection points for the path.

If I take a cloud path

[2019-12-25 01:52] thelonious commented on #47
Thanks @bob-pasabi for reporting this. Due to the holidays, it may be a few days before I'll be able to look into this. Hopefully it's an easy fix :)

[2019-12-26 11:33] olivTo opened #48 "Intersections Bezier2Circle and Beziers2Rectangle return the end point for horizontal and vertical lines"
I'm having an issue for some particular cases of intersection with Bezier curve, when the curve is actually a line (same abscissa or same ordinate for start point, end point and control point).
The returned point using Bezier2Circle and Beziers2Rectangle is the end point.
For the moment i use a work around consisting in delegate the compute to intersectCircleLine and intersectLineRectangle, but i

[2020-01-08 00:03] thelonious commented on #47
@bob-pasabi, I believe I have a fix:

![image](https://user-images.githubusercontent.com/34288/71939342-2c216500-3167-11ea-8105-dd11d3b46cc1.png)

I need to write some proper tests and clean things up a bit. Once all of that is done, I'll push a new release and close this issue.

Thanks again for reporting this!

[2020-01-08 16:32] bob-pasabi commented on #47
Thats great, no rush.  Will give it a go once it's pushed and will let you know.

[2020-02-16 08:57] ievgennaida opened #49 "https://github.com/thelonious/kld-intersections/issues"

[2020-04-29 15:55] rikkertkoppes commented on #47
Was this resolved? I believe I have a similar (if not the same) problem:
![image](https://user-images.githubusercontent.com/302821/80616901-bb69c580-8a41-11ea-8976-2c676a3ba11c.png)

Looking for intersections of the red path to the small circles. The red path is comprised of Arc segments and straight lines. There may be a problem with the sweep and/or large arc flags. Note:

- no intersections wit

[2020-04-30 15:28] rikkertkoppes commented on #47
Fwiw, the problem is here: https://github.com/thelonious/kld-intersections/blob/development/lib/Intersection.js#L83-L110

here is my fix:

[code]

[2020-04-30 17:12] rikkertkoppes commented on #47
The above fix does seem to work, math seems right to me too. I'll see if I can find some time to add tests and commit a pr

[2020-04-30 18:29] tapcast-kevin commented on #47
Oh, OK. Great! I will give this a try. I can take care of committing it. Need need for a PR

[2020-04-30 19:05] tapcast-kevin commented on #47
Yeah, that looks like its working well. If you can, would you test using the development branch? I had some visual tests that I was using. Here's the process I used:

[code]

Opened browser to `http://localhost:8080/visual-test/` and opened these visual tests:

- line_rounded_rect
- line_rounded_rect_2
- arc-fail

If everything looks good for you, I can push a new release.

Thanks for the help!

[2020-05-01 06:12] rikkertkoppes commented on #47
This was my reasoning:

- ASSUMPTION: startRadians and endRadians given are between -TWO_PI and TWO_PI
- ASSUMPTION: endRadians < startRadians for ccw arcs
- ASSUMPTION: the area of interest is between the two

These are the steps then:
1. if e < s, swap the two
2. s < e < 0: add TWO_PI, we end up in 4.
3. s < 0 < e: add TWO_PI, note that this means e > TWO_PI, we and up in 4
4: 0 < s < e

So we n

[2020-05-01 06:27] rikkertkoppes commented on #47
All tests seem fine to mee. Also, this is my original use case, which is now also fixed:
![image](https://user-images.githubusercontent.com/302821/80786928-58814700-8b85-11ea-8882-91f745ba0db9.png)

Mine is an interactive environment, you can drag stuff around. By doing so, I have not encountered any problems

[2020-05-04 17:52] thelonious commented on #47
@bob-pasabi @rikkertkoppes: I've pushed 0.7.0 with rikkertkoppes fixes. Thanks so much for reporting the issue and, especially, for providing a fix. That's a big help!

I'm closing this, but if you see any other related issues, please feel free to re-open

[2020-05-08 02:44] zibiaowu opened #51 "dependency gp-data-transformer is 404 in npm"
when I install your package , the console throw a error " No valid versions available for gp-data-transformer". I found the dependency gp-data-transformer is 404 in npm

![image](https://user-images.githubusercontent.com/18088464/81364595-9bf52b80-9118-11ea-9ce9-b53d3b7b0148.png)

how can I resolve this problem ? Maybe you could provide some replaceable third-party libraries for me ?

[2020-05-08 03:24] #51 closed, assigned to nobody

[2020-05-08 03:26] zibiaowu commented on #51
use 0.7.0 release can solve this problem

[2020-05-14 07:22] istvank opened #52 "ShapeInfo throws exception: Unable to extract value for size,width,height,w,h"
Hi, I have an issue with the ShapeInfo for rounded rectangles, `rr` being a rectangle with rounded corners:
`
ShapeInfo.rectangle({x: rr.x, y: rr.y, w: rr.width, h: rr.height, rx: rr.rx, ry: rr.ry});
`
it throws an exception:
[code]
Seems like in the for loop of `getValues` in ShapeInfo.js, `parsePoint` shifts the `args` parameter without creating a copy.

Is that a bug or am I missing something?

[2020-05-14 07:32] istvank commented on #51
...but it introduces new problems. :( What a pity it was deleted, I can no longer use 0.6.0.

[2020-05-14 07:44] istvank commented on #52
Seems like ShapeInfo no longer accepts objects.

[2020-05-14 17:54] thelonious commented on #52
Hi @istvank,

If you have a chance, please try the latest on development? I ran your test case above and it seems to be working fine. Please let me know if you run into any other issues.

Thanks for reporting the issue!

[2020-06-16 08:06] iosonosempreio commented on #47
Hi, I think I bumped into a very similar problem using `kld-intersections@0.7.0`.
I post this, in the hope that it may help to find a solution and to help others with similar issue.

I am looking for intersection between circle #0 and the yellow path.
![Screen Shot 2020-06-15 at 20 22 31](https://user-images.githubusercontent.com/7115395/84746915-e76fe480-afb6-11ea-9126-605e4fe60184.png)
Red rings

[2020-06-16 08:28] rikkertkoppes commented on #47
What comprises the yellow path? Looks like arcs and beziers?

Can you provide the geometries or a test repo?

[2020-06-16 08:41] rikkertkoppes commented on #47
![image](https://user-images.githubusercontent.com/302821/84751686-230dad00-afbd-11ea-98a8-7ca250c3064f.png)

It looks like it is intersecting with the green path drawn (mad paint skillz)
Judging by eye, there seems to be a problem every time the sweep around an arc is more than 180 degrees. It then seems to follow the other part of the circle. This would explain all your cases.

[2020-06-23 19:17] thelonious commented on #47
@iosonosempreio, I know @rikkertkoppes asked already, but if you can provide an example that recreates the original issue, that would be really helpful.

[2020-06-29 08:12] iosonosempreio commented on #47
Hi, sorry for keeping you guys waiting.
Here is my example, as you can see intersections are marked as black points.
The yellow path is created using arcs and beziers. It looks like @rikkertkoppes idea might be correct, in fact I am sweeping around certain arcs!

<img width="180" alt="Screen Shot 2020-06-29 at 09 59 34" src="https://user-images.githubusercontent.com/7115395/85988439-4a1da300-b9ef-

[2020-09-23 10:00] nblthree opened #54 "Adding some benchmarks"
It would be great to have some benchmarks in my case I am interested in the rotated ellipse-ellipse and rotated ellipse-line cases

[2020-09-25 10:00] nblthree commented on #54
It's fast so I will close this

[2020-09-25 10:00] #54 closed, assigned to nobody

[2020-09-27 11:48] nblthree opened #55 "Ellipse path shape and line shape intersection doesn't return the exact value"
Here is the result https://jsfiddle.net/bf6439Lp/1/

the grey ellipse should be over the black ellipse (the small one) but that doesn't happen because the top left yellow point (the result of the intersection of an ellipse path `ShapeInfo.path` and a line `ShapeInfo.line`) is not in its right position

It's just a small difference but it causes a big problem

[code]

[2020-09-27 12:08] nblthree commented on #55
Adding support for rotated ellipses will make ellipse-line intersections 100% exact.

**Update: 1**

I will try this https://github.com/thelonious/kld-intersections/blob/development/examples/rotated-ellipse-line.js

**Update: 2**

The above example doesn't rotate the ellipse on itself so it doesn't work for me

**Update: 3**

I translated everything to the origin now it works

[2020-09-28 14:44] nblthree commented on #55
I will close this because there is no reason to use the ellipse path in this case

[2020-09-28 14:44] #55 closed, assigned to nobody

[2020-11-14 15:04] mvoila opened #57 "pointInEllipse Throws Type Error using index-umd.min.js in browser"
Hello,

Calling pointInEllipse throw Type Error " t.subtract is not a function"
![image](https://user-images.githubusercontent.com/16825331/99059750-443fed00-259f-11eb-9d88-6c7f2007bb5e.png)
![image](https://user-images.githubusercontent.com/16825331/99150162-ec82ae00-2692-11eb-907e-896b0389ba9d.png)

Important to note : I'm using this library (for intersection and queries in Polygon too) without

[2020-11-19 06:40] JoshOY opened #58 "Typescript declaration file support"
Hi, I'm using using this library and found it splendid! But currently our project is written in typescript so is there any type declaration file (`.d.ts`) support for this library?

[2020-12-17 23:31] Restuta commented on #58
@JoshOY I don't think so, but you can create one similar to https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39899 that adds support for types of the fork of this project (https://github.com/signavio/svg-intersections) (I'd send a PR to that repo instead)

[2021-03-26 12:44] victoriaSh opened #59 "Is it possible to find intersection area?"
Just a question. I have Paths with strokeWidth. I want to find area of grey and black paths (on screenshot) and compare it to their intersection area to detect that user draw a letter.
Intersection of paths doesn't include information about strokeWidth. it seems that converting path to rectangle will not work for curved paths.
Is it possible to find intersection area with kdl-intersection package?

[2021-03-26 13:01] jkufner commented on #59
I would rather render both letters to a bitmap and compare them pixel by pixel. Assuming, that you want to calculate some kind of similarity score.

If you wish to calculate how well a kid writes, then go with completely different approach: compare strokes, not the intersection with the template. Imagine the drawn A is just a little bit bigger than the template. The two (almost) vertical strokes a

[2021-04-01 04:56] superjag opened #61 "Fix License Organization Name"
Currently there is no organization substituted in the license, causing it to sound like you cannot use your own organization's name to promote itself. Clearly this is not what was intended.

Please fix.

[2021-04-01 16:26] thelonious commented on #61
Hello @superjag,

Thanks for point this out.

I've updated the placeholder. I don't know when I'll release a new version, so this is on development only, for the time being. Please re-open if have any other issues with this change.

[2021-04-01 16:26] #61 closed, assigned to nobody

[2021-04-01 20:49] superjag commented on #61
Awesome, thanks.

[2021-07-13 10:38] brettz9 commented on #52
Hi there! I was getting this error too, but #development indeed got rid of the error.

[2021-07-13 23:36] brettz9 opened #65 "Question on `ShapeInfo.rectangle`"
With:

[code]
...I'm getting:
[code]

I would have expected the second point to be extrapolated from the height and width. Is this an error, or are the docs that mention mix-and-matching being ok not applicable here?

Thanks!

[2021-07-17 16:22] thelonious commented on #65
Hmm, that looks quite strange. I’m in the process of moving, so it will be a while before I can dive into this. I’ll get back to you as soon as I can.

Thanks for reporting this.

[2021-07-17 16:23] thelonious commented on #52
Ok. Once we address the other issue you’re seeing, I can push another release.

Thanks!

[2021-09-14 02:29] elixiao opened #67 "Maximum call stack size exceeded"
[code]

got error:

[code]